name: Deploy

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_KEY }}" | base64 -d > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan -H 82.112.238.89 >> ~/.ssh/known_hosts

      - name: Test SSH
        run: |
          ssh -i ~/.ssh/id_ed25519 root@82.112.238.89 "echo SSH_OK"

      - name: Deploy
        run: |
          scp -i ~/.ssh/id_ed25519 -r . root@82.112.238.89:/var/www/html
